/* Fonts, Body defaults, Global typography, HTML-level styles */
@layer base {

  html {
    font-family: 'Instrument Sans', system-ui, sans-serif;
  }

   body {
    @apply bg-gray-100 text-gray-800;
  }

   h1 {
    @apply text-2xl font-bold;
  }
}