/* Buttons, Cards, Navbar styles, Forms, Badges */

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700;
  }

  .card {
    @apply bg-white rounded-lg shadow p-4;
  }

  .navbar { 
    @apply flex bg-blue-600 text-white items-center justify-between py-4 px-6 md:px-12 lg:px-24;
  }
    .nav-link-desktop-view {
      @apply hidden md:flex space-x-6 text-sm;
    }
    .nav-link-mobile-view {
      @apply hidden flex-col space-y-2 px-4 pb-4 text-sm md:hidden;
    }
}
